*,
*::before,
*::after{
  box-sizing: border-box;
}

:root{
  --netflix: url("");
}

@font-face{
  font-family: "Netflix Sans";
  src: url("./Netflix Sans-fontiko/NetflixSans-Regular.otf") format("opentype")
}

@font-face{
  font-family: "Netflix Sans";
  src: url("./Netflix Sans-fontiko/NetflixSans-Bold.otf");
  font-weight: 700;
}

body{
  background: #141414;
  padding: 2em ;
  font-family:"Netflix Sans";
  color: white;
  margin: 0;
  line-height: 1.2;
}

.container{
  width: 95%;

}

.browse__items{
  font-size: clamp(0.688rem, 2vw, 0.9rem);
  transition: all 0s
}

.browse__items:hover{
  opacity: 0.8;
  cursor: pointer;
}

.browse__items::selection{
  font-weight: bold;
}

img{
  max-width: 100%;
  object-fit: contain;

}

.nav{
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: center;
  overflow-x:scroll;

}

.nav::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}
.netflix{
  max-width: 140px;

}

.profile-card{
  width: clamp(40px, 2.5vw, 50px);
  border-radius: 5px;
}

.icons{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
  flex-grow: 1;
  margin-left: 2em;
}

.browse{
  display: flex;
  flex-grow: 1;
  gap: 30px;
  
}

.dropdown{
  max-width: 15px;
}

/* Section */

.section{
  margin-top: 30px;
}

.rows{
  width: 100vw;
}

.section__rows{
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  flex-shrink: 0;
  overflow-x: scroll;
}
.section__rows::-webkit-scrollbar{
  display: none;
}

.section__rows--cards{
  width: 100%;
  max-width: 350px;
  border: none;
  content: url("./netflix-img/images/Neon-Season-1.webp");
  transition: 0s linear;
}

.section__rows--cards:hover{
  cursor: pointer;
  opacity: 0.7;
}

/*footer */
.footer{
  margin-top: 2em;
  width: 50%;
  margin-inline:  auto;
}

.socials{
  display: flex;
  gap: 20px;
}

.info__row{
  display:grid;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  align-items: center;
}

.info__row p{
  font-size: 0.6rem;
  color: gray;
}

@media (min-width: 800px){
  .info__row{
    grid-template-columns: repeat(4, minmax(50px, 1fr))
  }
}